* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f8f8f8;
}

.inputBox {
  position: relative;
  width: 390px;
}

.inputBox h2 {
  font-size: 28px;
  color: #333;
}

.inputBox input {
  position: relative;
  width: 100%;
  height: 38px;
  border: none;
  outline: none;
  padding: 2px 20px;
  margin: 15px 0 20px;
  letter-spacing: 4px;
  font-size: 24px;
  background: transparent;
  box-sizing: border-box;
  border-radius: 8px;
  color: #333;
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
    inset 4px 4px 10px rgba(0, 0, 0, 0.05), 4px 4px 10px rgba(0, 0, 0, 0.226);
}

.inputBox input::placeholder {
  letter-spacing: 0px;
}

.inputBox #btn {
  position: relative;
  cursor: pointer;
  color: #fff;
  background: #333;
  font-size: 24px;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 50px;
}

.inputBox #btn:hover {
  background: royalblue;
}

.copy {
  position: absolute;
  top: 56px;
  right: 15px;
  cursor: pointer;
  opacity: 0.4;
}

.copy:hover {
  opacity: 1;
}

.alertBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #9c27b0;
  color: #fff;
  text-align: center;
  font-size: 4em;
  display: none;
}

.alertBox.active {
  display: flex;
  justify-content: center;
  align-items: center;

}